<h2>{{t 'index.showroom.model.submodel.generations'}}</h2>
<ul class="list-group showroom-flex-list">
  {{#each model.generations as |generation|}}
    <li class="list-group-item showroom-flex-list-item">
      <h3>{{generation.shortNicename}}</h3>
      <p>{{generation.displayDate}}</p>
      <p>{{generation.id}}</p>
      {{#link-to "lang.showroom.make.model.submodel.generation" generation}}{{/link-to}}
    </li>
  {{/each}}
</ul>
