<label class="license-plate-form__label m--marginless">
  <img src="/assets/images/french-license-plate.png" class="license-plate-form__logo text-center" alt="French license plate">
</label>
{{input value=licensePlateNumber name="license-plate-number" class="license-plate-form__input text-center" size="9" maxlength="12"}}
<button type="submit" class="license-plate-form__button text-center">
  <i class="la la-search"></i>
</button>
