<div class="mt-element-list">
  <div class="mt-list-head list-simple font-white bg-red-mint">
    <div class="list-head-title-container">
      <h3 class="list-title">{{t "makeList.title"}}</h3>
    </div>
  </div>
  <div class="mt-list-container list-news ext-1">
    <ul id="make-list">
      {{yield}}
    </ul>
  </div>
</div>