<p class="model-name">{{makeModel.name}}</p>
<ul class="submodel-list">
  {{#each (await filteredSubmodels) as |submodels|}}
    <li class="submodel-list__item">
      {{#link-to "lang.referential.model" submodels.id class="submodel-link"}}
        {{submodels.name}}
      {{/link-to}}
    </li>
  {{/each}}
</ul>
