<p class="model-name">{{makeModel.name}}</p>
<ul class="submodel-list">
  {{#each (await filteredSubmodels) as |submodel|}}
    <li class="submodel-list__item">
      {{#link-to "data-set.referential.model" submodel.id class="submodel-link"}}
        {{submodel.name}}
      {{/link-to}}
    </li>
  {{/each}}
</ul>
