<div class="page-sidebar">
  <ul class="page-sidebar-menu page-header-fixed">
    <li class="nav-item top-level">
      <a class="nav-link nav-toggle">
        <i class="icon-home"></i>
        <span class="title">{{t 'application.home'}}</span>
        <span class="arrow"></span>
      </a>
      <ul class="sub-menu">
        <li class="nav-item">
          {{#link-to 'lang.search' class="nav-link"}}
            <i class="fa fa-car"></i>
            <span class="title">{{t 'index.search.title'}}</span>
          {{/link-to}}
        </li>
        <li class="nav-item">
          {{#link-to 'lang.quote' class="nav-link"}}
            <i class="fa fa-line-chart"></i>
            <span class="title">{{t 'index.quote.title'}}</span>
          {{/link-to}}
        </li>
        <li class="nav-item">
          {{#link-to 'lang.showroom' class="nav-link"}}
            <i class="fa fa-car"></i>
            <span class="title">{{t 'index.showroom.title'}}</span>
          {{/link-to}}
        </li>
      </ul>
    </li>
  </ul>
</div>
