<div class="page-header-inner">
  <div class="page-logo">
    {{#link-to 'lang.index'}}
      <img src="/assets/logos/Jefe_logo_small.png" alt="logo" class="logo-default">
    {{/link-to}}
    <div class="menu-toggler sidebar-toggler">
      <span></span>
    </div>
  </div>
  <a class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse">
    <span></span>
  </a>
  <div class="top-menu">
    <ul class="nav navbar-nav pull-right">
      {{language-selector}}
      <li class="dropdown dropdown-user">
        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true" aria-expanded="false">
          <i class="icon-user"></i>
          <span class="username username-hide-on-mobile">{{t "pageHeader.myProfile"}}</span>
          <i class="fa fa-angle-down"></i>
        </a>
        <ul class="dropdown-menu dropdown-menu-default">
          <li class="divider"></li>
          <li>
            <a {{action 'invalidateSession'}} class="bg-red-mint bg-font-red-mint">
              <i class="fa fa-sign-out bg-font-red-mint"></i> {{t "pageHeader.signOut"}}
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>
