<div class="m-container m-container--fluid m-container--full-height m-page__container">
  <div class="m-stack m-stack--flex-tablet-and-mobile m-stack--ver m-stack--desktop">
    <div class="m-stack__item m-stack__item--right m-stack__item--middle m-stack__item--last">
      <span class="m-footer__copyright">
        2018 &copy; Jefe by
        <a href="https://www.groupe-argus.com/" class="m-link">
          <img src="/assets/logos/logo_group-argus.jpg" alt="Groupe Argus" class="logo-group"/>
        </a>
      </span>
    </div>
  </div>
</div>
