<div class="page-footer">
  <div class="page-footer-inner"> Copyright © {{moment-format (now) 'YYYY'}} Groupe Argus </div>
  <div class="page-footer-tools">
    <span class="go-top">
      <i class="fa fa-angle-up"></i>
    </span>
  </div>
</div>