<a
  class="m-nav__link m-dropdown__toggle"
  href="#"
>
  <span class="m-nav__link-icon">
    <i class="flaticon-alert-2"></i>
  </span>
</a>
<div class="m-dropdown__wrapper">
  <span class="m-dropdown__arrow m-dropdown__arrow--right"></span>
  <div class="m-dropdown__inner">
    <div class="m-dropdown__header m--align-center" style="background: #7f55dd">
      <span class="m-dropdown__header-title">Referentials</span>
      <span class="m-dropdown__header-subtitle">Choose a referential country</span>
    </div>
    <div class="m-dropdown__body">
      <div class="m-dropdown__content">
        <h4>1. Provider</h4>
        <ul class="row align-items-center referential-choices">
          <li class="col m--margin-bottom-20">
            <div class="referential-choice text-center is-active">
              <img class="referential-choice__img" src="/assets/logos/groupe-argus.jpg" alt="RSI" title="RSI">
            </div>

          </li>
          <li class="col m--margin-bottom-20">
            <div class="referential-choice text-center">
              <img class="referential-choice__img" src="/assets/logos/jato.png" alt="JATO" title="JATO">
            </div>
          </li>
        </ul>
        <h4 class="m--margin-top-10 m--margin-bottom-10">2. Country</h4>
        <ul class="row align-items-center referential-choices">
          <li class="col m--margin-bottom-20">
            <div class="referential-choice text-center is-active">
              <img class="referential-choice__img" src="/assets/flags/fr.png" alt="France" title="France">
            </div>

          </li>
          <li class="col m--margin-bottom-20">
            <div class="referential-choice text-center">
              <img class="referential-choice__img" src="/assets/flags/ma.png" alt="Maroc" title="Maroc">
            </div>
          </li>

          <li class="col m--margin-bottom-20">
            <div class="referential-choice text-center">
              <img class="referential-choice__img" src="/assets/flags/ci.png" alt="Côte d'ivoire" title="Côte d'ivoire">
            </div>
          </li>
        </ul>
        <h4 class="m--margin-top-10 m--margin-bottom-10">3. Language</h4>
        <ul class="row align-items-center referential-choices">
          <li class="col m--margin-bottom-20">
            <div class="referential-choice text-center is-active">
              <img class="referential-choice__img" src="/assets/flags/fr.png" alt="Francais" title="Francais">
            </div>
          </li>
          <li class="col m--margin-bottom-20">
            <div class="referential-choice text-center">
              <img class="referential-choice__img" src="/assets/flags/gb.png" alt="Anglais" title="Anglais">
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
