<div class="tech-data-header row align-items-center">
  <h4 class="col-3 m--marginless tech-data-header__title text-right">{{t titleKey}}</h4>
  <div class="col-9"><hr /></div>
</div>
<div class="row">
  <div class="col-9 offset-3">
    <table class="tech-data-content">
      {{yield}}
    </table>
  </div>
</div>
