<input type="checkbox" checked={{isSelected}}>
<p class="m--marginless feature-checkbox__name">{{feature.name}}</p>
<p class="m--marginless feature-checkbox__price">{{feature.priceIncludingVat}} €</p>
<span></span>
