{{#if filteredOptions.content.length}}
  <div class="section-header m--margin-bottom-15">
    <h4 class="m--marginless section-header__title m--padding-right-15">{{category.name}}</h4>
    <div class="section-header__separator"><hr /></div>
  </div>
  <ul class="row list-unstyled m--margin-bottom-30">
    {{#each filteredOptions.content as |feature|}}
      <li class="col-12 col-md-6">
        {{valorization-feature-input feature=feature valorizationFeatures=valorization.features}}
      </li>
    {{/each}}
  </ul>
{{/if}}
