<span class="sort-param-button__text">{{sortOption.name}}</span>
{{#if activeProperty}}
  <i
    class="m--margin-left-10 m-nav__link-icon m--icon-font-size-lg3 la {{if isDesc "la-sort-alpha-desc" "la-sort-alpha-asc"}}"
  >
  </i>
{{/if}}
