.listNav
  margin: 28px 0

  .ln-letters
    a
      border: none;
      border-top: 2px solid pink;
      color: red

      &.ln-disabled
        color: pink

      &.ln-selected
        border-top: 2px solid red

  .ln-letter-count
    color: red