<div class="row">
  <div class="col-xs-12">
    <hr>
    <ul class="list-group" id="submodel-list">
    {{#each model as |submodel|}}
      <li class="list-group-item" {{action "viewSubmodel" submodel}}>{{submodel.name}}</li>
    {{/each}}
    </ul>
  </div>
</div>