<div class="m-subheader ">
  <div class="d-flex align-items-center">
    <div class="mr-auto">
      <h1 class="m-subheader__title m-subheader__title--separator">
        {{t "valorization.wizzard.title"}}
      </h1>
    </div>
  </div>
</div>
{{outlet}}
