.mt-element-list {
  background-color: $white;
}

.make-list,
.submodel-list {
  display: grid;
  padding: 0;
  grid-gap: $gutter;
  list-style-type: none;

  @media (max-width: $mobile-screen) {
    grid-template-columns: 1fr;
  }

  @media (min-width: $tablet-screen) {
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: $desktop-screen) {
    grid-template-columns: 1fr 1fr 1fr;
  }

  &.submodel-list {
    grid-auto-rows: 100px;
    grid-gap: 1em; // sass-lint:disable-line no-misspelled-properties  : Scss linter don't reconize grid-gap
  }
}

.lazyload {
  width: 100%;
  min-height: 55px;
  background: url('/assets/loader.gif') no-repeat center;
}
