.m-widget4 {
  margin: 0;
  padding: 0;


  .m-widget4__item {
    .m-widget4__img {
      &.m-widget4__img--logo {
        width: 80px;
        min-height: 55px;
        &::after {
          content: "";
          display: block;
          width: 80px;
        }

        .make-logo {
          border-radius: 0;
          width: 80px;
           &.no-logo {
            height: 80px;
          }
        }
      }
    }
  }
}
