.jefe-notify {
  position: fixed;
  z-index: 99999;
  top: 110px;
  right: 15px;
  background: none;

  .m-alert {

    .close {
      top: 1px;
    }

    &.alert-warning {
      color: array-get($m--typography-colors, light, regular, base);

      .close {
        color: array-get($m--typography-colors, light, regular, base);
      }
    }
  }

  .callout {
    position: relative;
    overflow: hidden;
    background: none;
  }
}
