.sort-params {
  height: 60px;
}

.sort-param-button {
  position: relative;
  height: 100%;
  border: 0;
  background: $white;
  color: array-get($m--typography-colors, light, regular, base);
  line-height: 22px;
  text-align: left;

  &.is-active {
    font-weight: 600;
  }

  &:hover {
    text-decoration: underline;
    cursor: pointer;

    .la {
      text-decoration: none;
    }
  }
}

.versions-table__item {
  padding: 0 2.2rem;
  background: $odd-list-background;

  &:nth-child(even) {
    background: $even-list-background;
  }

  .versions-table__content {
    color: array-get($m--typography-colors, light, regular, base);
  }
}
