.sort-params {
  height: 60px;
}

.sort-param-button {
  position: relative;
  height: 100%;
  border: 0;
  background: $white;
  color: array-get($m--typography-colors, light, regular, base);
  line-height: 22px;
  text-align: left;

  .la {
    position: relative;
    top: 3px;
  }

  &.is-active {
    font-weight: 600;
  }

  &:hover {
    cursor: pointer;

    .sort-param-button__text {
      text-decoration: underline;
    }

    .la {
      text-decoration: none;
    }
  }
}

.versions-table__item {
  position: relative;
  padding: 0 2.2rem;
  background: $odd-list-background;

  &:nth-child(even) {
    background: $even-list-background;
  }

  .versions-table__content {
    color: array-get($m--typography-colors, light, regular, base);
    text-decoration: none;
  }

  &::after {
    content: '';
    display: none;
    position: absolute;
    top: 0;
    bottom: -1px;
    left: 0;
    width: 5px;
    background: array-get($m--state-colors, brand, base);
  }

  &:hover {
    z-index: 1;
    outline: 1px solid array-get($m--state-colors, brand, base);

    .versions-table__content {
      color: array-get($m--state-colors, brand, base);
    }

    &::after {
      display: block;
    }
  }

  // .col {
  //   &:last-child {
  //     text-align: right;
  //   }
  // }
}

.version-item__id {
  font-family: 'Share Tech Mono';
  font-size: 13px;
}
