<div class="page-wrapper">
  {{page-header}}
  <div class="clearfix"></div>
  <div class="container">
    <div class="page-container">
      {{page-sidebar}}
      <div class="page-content-wrapper">
        <!-- BEGIN CONTENT BODY -->
        <div class="page-content">
          <div class="page-bar">
            <ul class="page-breadcrumb">
              <li>
                <span>Home</span>
              </li>
            </ul>
            <div class="page-toolbar">
              <div class="btn-group pull-right">
                <button type="button" class="btn green btn-sm btn-outline dropdown-toggle" data-toggle="dropdown"> Actions
                <i class="fa fa-angle-down"></i>
                </button>
                <ul class="dropdown-menu pull-right" role="menu">
                  <li>
                    <a href="#">
                    <i class="icon-bell"></i> Action</a>
                  </li>
                  <li>
                    <a href="#">
                    <i class="icon-shield"></i> Another action</a>
                  </li>
                  <li>
                    <a href="#">
                    <i class="icon-user"></i> Something else here</a>
                  </li>
                  <li class="divider"> </li>
                  <li>
                    <a href="#">
                    <i class="icon-bag"></i> Separated link</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <!-- END PAGE BAR -->
          <!-- BEGIN PAGE TITLE-->
          <h1 class="page-title"> Sample page
          <small>blank page layout</small>
          </h1>
          <!-- END PAGE TITLE-->
          <!-- END PAGE HEADER-->
          <div class="note note-info">
            <p>A blank page template.</p>
          </div>
        </div>
        <!-- END CONTENT BODY -->
      </div>
    </div>
  </div>
  {{page-footer}}
</div>