<div class="m-subheader ">
  <div class="d-flex align-items-center">
    <div class="mr-auto">
      <h1 class="m-subheader__title m-subheader__title--separator">
        {{t 'index.licensePlate.title'}}
      </h1>
    </div>
  </div>
</div>
<div class="m-content">

</div>
