<div class="logo">
  <img src="/assets/logos/Jefe_logo_with_tagline_small.png">
</div>
<div class="content">
  {{login-form controller=this}}
</div>
<div class="copyright"> Copyright © {{moment-format (now) 'YYYY'}} Groupe Argus </div>