<div class="page-bar">
  <ul class="page-breadcrumb">
    <li>
      {{#link-to 'lang'}}
      <span>{{t 'application.home'}}</span>
      {{/link-to}}
      <i class="fa fa-circle"></i>
    </li>
    <li>
      {{#link-to 'lang.search' class="nav-link"}}
      <span class="title">{{t 'index.search.title'}}</span>
      {{/link-to}}
      <i class="fa fa-circle"></i>
    </li>
    <li>
      <span>{{model.name}}</span>
    </li>
  </ul>
</div>
<h1 class="page-title">
{{logo-img url=model.logoURL}}
<hr>
</h1>