<div class="page-bar">
  <ul class="page-breadcrumb">
    <li>
      {{#link-to 'lang'}}
      <span>{{t 'application.home'}}</span>
      {{/link-to}}
      <i class="fa fa-circle"></i>
    </li>
    <li>
      <span>{{t 'index.showroom.title'}}</span>
    </li>
  </ul>
</div>
<h1 class="page-title">{{t 'index.showroom.title'}}</h1>
{{outlet}}