.make-infos {
  display: flex;
  align-items: center;
  justify-content: space-between;


  .logo-img {
    margin: 0;
  }

  .actions {
    align-self: flex-start;
  }
}

.showroom-flex-list {
  display: flex;
  flex-wrap: wrap;

  .showroom-flex-list-item {
    position: relative;
    width: 50%;


    &:hover {
      background: $light-grey;
    }

    a {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
  }
}

.make-informations {
  .logo-container {
     margin-bottom: $gutter;
  }

  .make-logo {
    max-width: 100%;
  }

  .make-name {
    margin-bottom: $gutter / 2;
  }

  .make-data {
    margin-bottom: $gutter / 3;
  }
}
