.valorization-card {
  display: flex;
  position: relative;
  align-items: center;

  .m-loader {
    width: 1.4rem;
  }

  .vehicle-infos {
    order: 2;
  }

  .vehicle-make-logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    order: 1;
    width: 80px;
    min-height: 80px;
    margin-right: 10px;
  }

  &.vehicle-preview {
    @include box-shadow(1);
    padding: 1.1rem;
  }

  .offer-badge {
    display: block;
    position: absolute;
    top: 3px;
    right: 0;
  }
}

.offer-badge {
  padding: 4px 8px;
  color: $white;
  font-weight: 400;

  &.m--bg-argus {
    background: $argus-color;
  }

  &.m--bg-focus {
    background: array-get($m--state-colors, focus, base);
  }
}

.offer-list {
  list-style-type: none;
}

.offer-list__item {
  position: relative;
  height: 100%;
  padding: $gutter / 2;
  transition: transform .4s;
  border: 0;
  border-left: 5px solid;
  background: $white;
  cursor: pointer;


  &.border-argus {
    border-color: $argus-color;
  }

  &.border-focus {
    border-color: array-get($m--state-colors, focus, base);
  }

  &::before {
    @include box-shadow(1);
    content: '';
    display: block;
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: opacity .4s;
    opacity: 1;
  }

  &::after {
    @include box-shadow(2);
    content: '';
    display: block;
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: opacity .4s;
    opacity: 0;
  }

  &:hover {
    transform: translate3d(0, -3px, 0);

    &::before {
      opacity: 0;
    }

    &::after {
      opacity: 1;
    }

  }
}


.feature-checkbox {
  display: flex;
}

.feature-checkbox__name {
  @include ellipsis;
  flex: 1;
  font-weight: 400;
}


.selected-feature {
  display: flex;
}

.selected-feature__name {
  @include ellipsis;
  flex: 1;
  font-weight: 400;
}
