.showroom-make-item {
  display: flex;
  position: relative;
  align-items: center;
  padding: 10px;

  &:hover {
    background: $light-grey;
  }

  .infos {
    order: 2;

    p {
      margin: 10px 0;
    }
  }

  .logo-img {
    order: 1;
    margin-right: 10px;

    img {
      margin-bottom: 0;
    }
  }

  a {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}
