.showroom-make-item {
  display: flex;
  position: relative;
  align-items: center;
  padding: 10px;
  border: 1px solid get-color($m--default-skin, panel);
  transition: transform 0.4s;

  &.listNavHide {
    display: none;
  }

  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    @include box-shadow(1);
    opacity: 0;
    transition: opacity 0.4s;
  }

  &:hover {
    transform: translate3d(0, -3px, 0);
    &::after {
      opacity: 1;
    }
  }

  .infos {
    order: 2;

    p {
      margin: 10px 0;
    }
  }

  .logo-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    order: 1;
    margin-right: 10px;
    width: 80px;
    min-height: 80px;
    img {
      width: 100%;
      margin-bottom: 0;
    }
  }

  a {
    z-index:2;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}
