.valorization-criteria {

  .make-logo {
    max-width: 100px;
  }
}

.custom-market-value-detail {
  display: flex;
}

.custom-market-value-detail__label {
  font-weight: 500;
}

.custom-market-value-detail__value {
  flex: 1;
  font-weight: 600;
  text-align: right;
}

.main-value-display {
  margin-bottom: 4px;
  font-size: 18px;
  font-weight: 500;
}

.secondary-value-display {
  margin-bottom: 4px;
  font-weight: 500;

}

.tiers-value-display {
  margin-bottom: 4px;
  font-weight: 300;
}
