.vehicule-identity {
  display: flex;
  align-items: center;

  .vehicule-identity__make-logo {
    width: 128px;
    text-align: center;

    img {
      max-width: 100%;
    }
  }

  .vehicule-infos {
    flex: 1;
  }
}

.quote-price {
  display: flex;
  justify-content: space-between;
}


.vehicle-price {
  align-self: flex-end;

  .price-incl-taxes {
    font-size: 1.5rem;

    span {
      font-size: 1rem;
    }
  }

  .price-excl-taxes {
    font-size: 1.1rem;

    span {
      font-size: 1rem;
    }
  }
}

.tech-data-header__title {
  font-size: 1.1rem;

}

.tech-data-content {
  width: 100%;
}

.tech-data-content__label {
  width: 60%;
  font-weight: 400;
}

.tech-data-content__value {
  width: 40%;
}

.tech-data-content__value,
.tech-data-content__label {
  padding: 5px $gutter / 2;
}

.tech-data-content__row {
  &:nth-child(odd) {
    .tech-data-content__value {
      background: $odd-list-background;
    }
  }

  &:nth-child(even) {
    .tech-data-content__value {
      background: $even-list-background;
    }
  }
}

.categery-standard-equipments-header {
  display: flex;
  align-items: center;

  .categery-standard-equipments__title {
    font-size: 1.1rem;
  }

  .categery-standard-equipments__separator {
    flex: 1;
  }
}

.optional-equipement-table {
  width: 100%;
}

.optional-equipement-table__header {
  background: $table-header-background;
  font-weight: 400;
}

.optional-equipement-table__row {
  background: $odd-list-background;
  &:nth-child(even) {
    background: $even-list-background;
  }
}

