<h2>{{t 'index.showroom.model.submodel.generation.phases'}}</h2>
<ul class="list-group showroom-flex-list">
  {{#each model.phases as |phase|}}
    <li class="list-group-item showroom-flex-list-item">
      <h3>{{phase.shortNicename}}</h3>
      <p>{{phase.displayDate}}</p>
      <p>{{phase.id}}</p>
      {{#link-to "lang.showroom.make.model.submodel.generation.phase" phase}}{{/link-to}}
    </li>
  {{/each}}
</ul>
