//
//** Override The Base Framework Config For This Demo
//

//== The body element font settings
$m--root-font: (
    size: (
        desktop: 12px,
        tablet: 12px,
        mobile: 12px
    ),
    weight: 300,
    color: (
        light: #333333,
        dark: #efefef
    )
);

//== Font families
$m--font-families: (
    regular: 'Roboto',
    heading: 'Roboto'
);

//== Brand Color
$m--brand-color: #716aca;
$m--brand-inverse-color: #ffffff;


$m--layout-breakpoints: (
  	// Small screen / phone
    sm: 576px,

  	// Medium screen / tablet
  	md: 768px,

  	// Large screen / desktop
  	lg: 992px,

  	// Extra large screen / wide desktop
  	xl: 1200px,

    // Extra large screen / wide desktop
    xxl: 1400px,

    // Super Extra large screen / wide desktop
    xxxl: 1600px
)!default;
