[data-ember-action] {
  &:not(:disabled) {
    cursor: pointer;
  }
}

.hide {
  display: none;
}

.thumbnail {
  width: 100%;
}

.align-items-stretch {
  align-items: stretch;
}

.ellipsis {
  @include ellipsis;
}
