// Large desktops and laptops
// @media (min-width: 1200px)

// Landscape tablets and medium desktops
// @media (min-width: 992px) and (max-width: 1199px)

// Portrait tablets and small desktops
// @media (min-width: 768px) and (max-width: 991px)

// Landscape phones and portrait tablets
// @media (max-width: 767px)

// Portrait phones and smaller
// @media (max-width: 480px)

$mobile-screen: 767px;
$tablet-screen: 768px;
$desktop-screen: 1200px;


// Colors
$light-grey: #e5e5e5;
$lighter-grey: #f7f7f7;
$pink: #ffc0cb;
$red: #f00;
$white: #fff;
$timeline-gen-color: #868aa8;
$table-header-background: #ddd;
$argus-color: #c70e0d;

$odd-list-background: #eaeaea;
$even-list-background: #f9f9f9;

$license-plate-blue: #0072cb;

// Gutter
$gutter: 30px;


$checkbox-color: #7281a4;

