<div class="page-wrapper m-grid m-grid--hor m-grid--root m-page">
  {{page-header}}
  <div
    class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-body"
  >
    <button
      class="m-aside-left-close m-aside-left-close--skin-dark"
      id="m_aside_left_close_btn"
    >
      <i class="la la-close"></i>
    </button>
    {{page-sidebar}}
    <div class="m-grid__item m-grid__item--fluid m-wrapper">
      {{outlet}}
    </div>
  </div>
  {{page-footer}}
</div>
<div
  class="m-scroll-top m-scroll-top--skin-top"
  data-toggle="m-scroll-top"
  data-scroll-offset="500"
  data-scroll-speed="300"
>
  <i class="la la-arrow-up"></i>
</div>
